/* Custom font declarations */
@font-face {
  font-family: OpenSansLight;
  src: url('../fonts/OpenSans/OpenSans-Light.ttf')
}
@font-face {
  font-family: OpenSansRegular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}
body {
  font-size: 16px;
  font-family: OpenSansRegular, Arial, sans-serif;
}

/* Site scrollbar */
body::-webkit-scrollbar-track {
    border: 1px solid black;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
    background-color: #000;
}

/* Header */
#site-head {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
}
  /* Logo */
  #site-head .logo {
    float: left;
    height: 100%;
    padding: 5px 20px;
    display: inline-block;
  }
  #site-head .logo img {
    height: 50px;
  }
  /* Menu */
  #site-head nav {
    display: block;
    float: left;
  }
  #site-head nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #site-head nav ul li {
    display: inline-block;
  }
  #site-head nav ul li a {
    font-family: OpenSansLight, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 60px;
    text-decoration: none;
    color: #ffffff;
    padding: 0 20px;
    display: inline-block;
  }
  #site-head nav ul li:hover a {
    background: #000000;
    transition: all 0.5s ease-in-out;
  }
  /* Sub menu */
  #site-head .sub-menu {
    position: absolute;
    background: #000000;
    display: none;
  }
  #site-head .sub-menu li {
    display: block;
  }
  #site-head .sub-menu li a {
    display: block;
    font-size: 1.3em;
    line-height: 48px;
  }
  #site-head nav ul li:hover ul {
    display: block;
  }
  #site-head .sub-menu li a:hover {
    background: #777777;
  }

  /* Hamburger icon */
  #site-head .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 15px 20px;
    display: none;
  }
  #site-head .hamburger ul {
    width: 30px;
    height: 19px;
  }
  #site-head .hamburger ul li {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background: #ffffff;
    transition: all 0.5s ease-in-out;
  }
  #site-head .hamburger ul li:last-child {
    margin-bottom: 0;
  }
  .check ul #ham-l1 {
    transform: rotate(-140deg) translateY(-10px);
    margin-left: 7px;
  }
  .check ul #ham-l2 {
    opacity: 0;
  }
  .check ul #ham-l3 {
    transform: rotate(140deg) translateY(10px);
    margin-left: 7px;
  }



/* Footer */
.site-footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.66);
  font-family: OpenSansLight, Arial, sans-serif;
  color: #ffffff;
}
.footer-contacts {
  padding: 10px 15px;
}
   .footer-column {
    float: left;
    width: 20%;
   }
#mail {
  text-align: center;
  padding-top: 80px;
  background: url('../images/email.png') top center no-repeat ;
}
#phones {
  text-align: center;
  padding-top: 80px;
  background: url('../images/telephone.png') top center no-repeat ;
}
#lockation {
  text-align: center;
  padding-top: 80px;
  background: url('../images/pin.png') top center no-repeat ;
}
#facebook {
  position: relative;
  text-align: center;
  top: 20px;
  display: block;
  width: 78px;
  height: 78px;
  margin: auto;
  background: url('../images/facebook.png') top center no-repeat ;
}
#dev {
  text-align: center;
  padding-top: 80px;
  background: url('../images/dev.png') top center no-repeat ;
}

#dev a {
  background-color: rgba(12, 6, 6, 0.77);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#dev a:hover, a:active {
  background-color: rgba(0, 0, 0, 0.55);
}

#d a {
  display: block;
  margin: auto;
  background: url('../images/dobrishinov.png') top center no-repeat;
  background-size: 100%;
  width: auto;
  height: 120px;
}
#d p {
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
}

#fd p {
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
}
#fd a {
  display: block;
  margin: auto;
  background: url('../images/fd.png') top center no-repeat;
  background-size: 100%;
  width: auto;
  height: 120px;
}
.footer-copyright {
  text-align: center;
  padding-bottom: 15px;
}
  #copyright-pgee {
    background: url('../images/copyright-pgee.png') no-repeat;
    display: inline-block;
    width: 77px;
    height: 50px;
    margin-right: 10px;
  }
  #copyright-cc {
    background: url('../images/copyright-cc.png') no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  #copyright-2016 {
    background: url('../images/copyright-2016.png') no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
  }


  
/* Responsive styles */
/* Screen width > 1680px */
@media screen and (min-width: 1680px) {
  body {
    font-size: 24px;
  }
  .site-footer {
    font-size: 1.2em;
  }
}
/* Screen width < 1024px */
@media screen and (max-width: 1024px) {
  body {
    font-size: 12px;
  }
  /* Header */
  #site-head {
    height: 50px;
  }
  #site-head .logo img {
    height: 40px;
  }
  #site-head nav ul li a {
    padding: 0 10px;
    line-height: 50px;
  }
  #site-head .sub-menu li a {
    line-height: 36px;
  }
  #scroll-icon {
    display: none;
  }
  /* Footer */
  .site-footer {
    font-size: 1.3em;
  }
  .footer-column {
    width: 50%;
  }
  .footer-column:last-child {
    width: 100%;
  }
  #fd a {
    width: 320px;
    height: 74px;
  }
}
/* Screen width < 768px */
@media screen and (max-width: 768px) {
  /* Header */
    /* Responsive nav */
  #site-head nav {
    display: none;
    float: none;
    clear: both;
    background-color: #777777;
  }
  #site-head nav ul {
    width: 100%;
    display: block;
  }
  #site-head nav ul li {
    display: block;
  }
  #site-head nav ul li a {
    display: block;
  }
  #site-head .hamburger {
    display: block;
  }
    /* Sub menu */
    #site-head nav ul li>ul>li>a {
    padding-left: 20px;
  }
  #site-head .sub-menu {
    position: static;
  }
}
/* Screen width < 480px */
@media screen and (max-width: 480px) {
  /* Footer */
  .site-footer {
    font-size: 1.5em;
  }
  .footer-column {
    width: 100%;
  }
}
